@page "/"

<PageTitle>Домашняя</PageTitle>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой сайт с тремя блоками</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
            <h2>ГОЙДА</h2>
    </div>
</body>