@page "/counter"
@rendermode InteractiveServer

<PageTitle>Вычисления</PageTitle>

<div>
    <h3>Провести расчёты</h3>
    <h6>Здесь вы можете рассчитать стадии вегетации</h6>
</div>



    <div class="d7">
        <form action="" method="get">
            <input name="s" placeholder="Поиск культур" type="search">
            <button type="submit">Поиск</button>
        </form>
    </div>


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Рассчитать</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
